# https://spotlightcybersecurity.com/openwrt-dnsmasq-google-youtube-bing-filtering.html

# force duckduckgo family filter
host-record=safe.duckduckgo.com,20.43.109.14
cname=duckduckgo.com,safe.duckduckgo.com
cname=www.duckduckgo.com,safe.duckduckgo.com


# force bing family filter
host-record=strict.bing.com,204.79.197.220
cname=bing.com,strict.bing.com
cname=www.bing.com,strict.bing.com

# force youtube restricted mode
host-record=restrictmoderate.youtube.com,216.239.38.119
cname=www.youtube.com,restrictmoderate.youtube.com
cname=m.youtube.com,restrictmoderate.youtube.com
cname=youtubei.googleapis.com,restrictmoderate.youtube.com
cname=youtube.googleapis.com,restrictmoderate.youtube.com
cname=www.youtube-nocookie.com,restrictmoderate.youtube.com

# force google safesearch
host-record=forcesafesearch.google.com,216.239.38.120
cname=www.google.com,forcesafesearch.google.com
cname=www.google.ad,forcesafesearch.google.com
cname=www.google.ae,forcesafesearch.google.com
cname=www.google.com.af,forcesafesearch.google.com
cname=www.google.com.ag,forcesafesearch.google.com
cname=www.google.com.ai,forcesafesearch.google.com
cname=www.google.al,forcesafesearch.google.com
cname=www.google.am,forcesafesearch.google.com
cname=www.google.co.ao,forcesafesearch.google.com
cname=www.google.com.ar,forcesafesearch.google.com
cname=www.google.as,forcesafesearch.google.com
cname=www.google.at,forcesafesearch.google.com
cname=www.google.com.au,forcesafesearch.google.com
cname=www.google.az,forcesafesearch.google.com
cname=www.google.ba,forcesafesearch.google.com
cname=www.google.com.bd,forcesafesearch.google.com
cname=www.google.be,forcesafesearch.google.com
cname=www.google.bf,forcesafesearch.google.com
cname=www.google.bg,forcesafesearch.google.com
cname=www.google.com.bh,forcesafesearch.google.com
cname=www.google.bi,forcesafesearch.google.com
cname=www.google.bj,forcesafesearch.google.com
cname=www.google.com.bn,forcesafesearch.google.com
cname=www.google.com.bo,forcesafesearch.google.com
cname=www.google.com.br,forcesafesearch.google.com
cname=www.google.bs,forcesafesearch.google.com
cname=www.google.bt,forcesafesearch.google.com
cname=www.google.co.bw,forcesafesearch.google.com
cname=www.google.by,forcesafesearch.google.com
cname=www.google.com.bz,forcesafesearch.google.com
cname=www.google.ca,forcesafesearch.google.com
cname=www.google.cd,forcesafesearch.google.com
cname=www.google.cf,forcesafesearch.google.com
cname=www.google.cg,forcesafesearch.google.com
cname=www.google.ch,forcesafesearch.google.com
cname=www.google.ci,forcesafesearch.google.com
cname=www.google.co.ck,forcesafesearch.google.com
cname=www.google.cl,forcesafesearch.google.com
cname=www.google.cm,forcesafesearch.google.com
cname=www.google.cn,forcesafesearch.google.com
cname=www.google.com.co,forcesafesearch.google.com
cname=www.google.co.cr,forcesafesearch.google.com
cname=www.google.com.cu,forcesafesearch.google.com
cname=www.google.cv,forcesafesearch.google.com
cname=www.google.com.cy,forcesafesearch.google.com
cname=www.google.cz,forcesafesearch.google.com
cname=www.google.de,forcesafesearch.google.com
cname=www.google.dj,forcesafesearch.google.com
cname=www.google.dk,forcesafesearch.google.com
cname=www.google.dm,forcesafesearch.google.com
cname=www.google.com.do,forcesafesearch.google.com
cname=www.google.dz,forcesafesearch.google.com
cname=www.google.com.ec,forcesafesearch.google.com
cname=www.google.ee,forcesafesearch.google.com
cname=www.google.com.eg,forcesafesearch.google.com
cname=www.google.es,forcesafesearch.google.com
cname=www.google.com.et,forcesafesearch.google.com
cname=www.google.fi,forcesafesearch.google.com
cname=www.google.com.fj,forcesafesearch.google.com
cname=www.google.fm,forcesafesearch.google.com
cname=www.google.fr,forcesafesearch.google.com
cname=www.google.ga,forcesafesearch.google.com
cname=www.google.ge,forcesafesearch.google.com
cname=www.google.gg,forcesafesearch.google.com
cname=www.google.com.gh,forcesafesearch.google.com
cname=www.google.com.gi,forcesafesearch.google.com
cname=www.google.gl,forcesafesearch.google.com
cname=www.google.gm,forcesafesearch.google.com
cname=www.google.gr,forcesafesearch.google.com
cname=www.google.com.gt,forcesafesearch.google.com
cname=www.google.gy,forcesafesearch.google.com
cname=www.google.com.hk,forcesafesearch.google.com
cname=www.google.hn,forcesafesearch.google.com
cname=www.google.hr,forcesafesearch.google.com
cname=www.google.ht,forcesafesearch.google.com
cname=www.google.hu,forcesafesearch.google.com
cname=www.google.co.id,forcesafesearch.google.com
cname=www.google.ie,forcesafesearch.google.com
cname=www.google.co.il,forcesafesearch.google.com
cname=www.google.im,forcesafesearch.google.com
cname=www.google.co.in,forcesafesearch.google.com
cname=www.google.iq,forcesafesearch.google.com
cname=www.google.is,forcesafesearch.google.com
cname=www.google.it,forcesafesearch.google.com
cname=www.google.je,forcesafesearch.google.com
cname=www.google.com.jm,forcesafesearch.google.com
cname=www.google.jo,forcesafesearch.google.com
cname=www.google.co.jp,forcesafesearch.google.com
cname=www.google.co.ke,forcesafesearch.google.com
cname=www.google.com.kh,forcesafesearch.google.com
cname=www.google.ki,forcesafesearch.google.com
cname=www.google.kg,forcesafesearch.google.com
cname=www.google.co.kr,forcesafesearch.google.com
cname=www.google.com.kw,forcesafesearch.google.com
cname=www.google.kz,forcesafesearch.google.com
cname=www.google.la,forcesafesearch.google.com
cname=www.google.com.lb,forcesafesearch.google.com
cname=www.google.li,forcesafesearch.google.com
cname=www.google.lk,forcesafesearch.google.com
cname=www.google.co.ls,forcesafesearch.google.com
cname=www.google.lt,forcesafesearch.google.com
cname=www.google.lu,forcesafesearch.google.com
cname=www.google.lv,forcesafesearch.google.com
cname=www.google.com.ly,forcesafesearch.google.com
cname=www.google.co.ma,forcesafesearch.google.com
cname=www.google.md,forcesafesearch.google.com
cname=www.google.me,forcesafesearch.google.com
cname=www.google.mg,forcesafesearch.google.com
cname=www.google.mk,forcesafesearch.google.com
cname=www.google.ml,forcesafesearch.google.com
cname=www.google.com.mm,forcesafesearch.google.com
cname=www.google.mn,forcesafesearch.google.com
cname=www.google.ms,forcesafesearch.google.com
cname=www.google.com.mt,forcesafesearch.google.com
cname=www.google.mu,forcesafesearch.google.com
cname=www.google.mv,forcesafesearch.google.com
cname=www.google.mw,forcesafesearch.google.com
cname=www.google.com.mx,forcesafesearch.google.com
cname=www.google.com.my,forcesafesearch.google.com
cname=www.google.co.mz,forcesafesearch.google.com
cname=www.google.com.na,forcesafesearch.google.com
cname=www.google.com.ng,forcesafesearch.google.com
cname=www.google.com.ni,forcesafesearch.google.com
cname=www.google.ne,forcesafesearch.google.com
cname=www.google.nl,forcesafesearch.google.com
cname=www.google.no,forcesafesearch.google.com
cname=www.google.com.np,forcesafesearch.google.com
cname=www.google.nr,forcesafesearch.google.com
cname=www.google.nu,forcesafesearch.google.com
cname=www.google.co.nz,forcesafesearch.google.com
cname=www.google.com.om,forcesafesearch.google.com
cname=www.google.com.pa,forcesafesearch.google.com
cname=www.google.com.pe,forcesafesearch.google.com
cname=www.google.com.pg,forcesafesearch.google.com
cname=www.google.com.ph,forcesafesearch.google.com
cname=www.google.com.pk,forcesafesearch.google.com
cname=www.google.pl,forcesafesearch.google.com
cname=www.google.pn,forcesafesearch.google.com
cname=www.google.com.pr,forcesafesearch.google.com
cname=www.google.ps,forcesafesearch.google.com
cname=www.google.pt,forcesafesearch.google.com
cname=www.google.com.py,forcesafesearch.google.com
cname=www.google.com.qa,forcesafesearch.google.com
cname=www.google.ro,forcesafesearch.google.com
cname=www.google.ru,forcesafesearch.google.com
cname=www.google.rw,forcesafesearch.google.com
cname=www.google.com.sa,forcesafesearch.google.com
cname=www.google.com.sb,forcesafesearch.google.com
cname=www.google.sc,forcesafesearch.google.com
cname=www.google.se,forcesafesearch.google.com
cname=www.google.com.sg,forcesafesearch.google.com
cname=www.google.sh,forcesafesearch.google.com
cname=www.google.si,forcesafesearch.google.com
cname=www.google.sk,forcesafesearch.google.com
cname=www.google.com.sl,forcesafesearch.google.com
cname=www.google.sn,forcesafesearch.google.com
cname=www.google.so,forcesafesearch.google.com
cname=www.google.sm,forcesafesearch.google.com
cname=www.google.sr,forcesafesearch.google.com
cname=www.google.st,forcesafesearch.google.com
cname=www.google.com.sv,forcesafesearch.google.com
cname=www.google.td,forcesafesearch.google.com
cname=www.google.tg,forcesafesearch.google.com
cname=www.google.co.th,forcesafesearch.google.com
cname=www.google.com.tj,forcesafesearch.google.com
cname=www.google.tl,forcesafesearch.google.com
cname=www.google.tm,forcesafesearch.google.com
cname=www.google.tn,forcesafesearch.google.com
cname=www.google.to,forcesafesearch.google.com
cname=www.google.com.tr,forcesafesearch.google.com
cname=www.google.tt,forcesafesearch.google.com
cname=www.google.com.tw,forcesafesearch.google.com
cname=www.google.co.tz,forcesafesearch.google.com
cname=www.google.com.ua,forcesafesearch.google.com
cname=www.google.co.ug,forcesafesearch.google.com
cname=www.google.co.uk,forcesafesearch.google.com
cname=www.google.com.uy,forcesafesearch.google.com
cname=www.google.co.uz,forcesafesearch.google.com
cname=www.google.com.vc,forcesafesearch.google.com
cname=www.google.co.ve,forcesafesearch.google.com
cname=www.google.vg,forcesafesearch.google.com
cname=www.google.co.vi,forcesafesearch.google.com
cname=www.google.com.vn,forcesafesearch.google.com
cname=www.google.vu,forcesafesearch.google.com
cname=www.google.ws,forcesafesearch.google.com
cname=www.google.rs,forcesafesearch.google.com
cname=www.google.co.za,forcesafesearch.google.com
cname=www.google.co.zm,forcesafesearch.google.com
cname=www.google.co.zw,forcesafesearch.google.com
cname=www.google.cat,forcesafesearch.google.com
